.logo {
    display: flex;
    justify-content: space-between;
    padding: 15px 32px;
}

.logo img {
    height: 64px;
}

.dbtn {
    color: #7C7C7C;
    border-radius: 50px;
    height: 60px;
    width: 289px;
    font-size: 18px;
    text-align: left;
    text-decoration: none;
    border: none;
    background-color: #fff;
    padding-left: 30px;
}

.dbtn:hover {
    color: white;
    background-color: #EA7A9A;
    border-radius: 50px;
}

.side-list {
    padding: 0px 28px;
    display: flex;
    flex-direction: column;
    height: 900px;
}